PORT=3000

DATABASE_TYPE=mysql
# DATABASE_HOST=localhost # for local
DATABASE_HOST=db # for docker
DATABASE_PORT=3306
MYSQL_USER=admin
MYSQL_PASSWORD=admin
MYSQL_DATABASE=dia-test
MYSQL_ROOT_PASSWORD=admin
DATABASE_SYNCHRONIZE=false

AUTH_JWT_SECRET=secret